@media screen and (max-width: 770px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    height: auto;
  }
  .buttons button {
    width: 150px;

    margin: auto;
  }
}

@media screen and (max-width: 540px) {
  .main-content .buttons {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
  }
  .main-content .buttons button:first-child {
    margin: auto;
  }
  .buttons button {
    width: 150px;

    margin: 2px;
  }
}
